__pycache__/
.venv/
venv/
*.session*
*.txt
.env
tes*
export/
*_cache
GenCovers/
!requirements.txt
!test.py
.env
cookies/
stream_media/

logs
*.log
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?