kurigram
requests
aiohttp
tgcrypto
python-dotenv
pymongo
apscheduler
uvicorn[standard]
aiofiles
fastapi
uvloop
bs4
httpx
telegraph
python-multipart
pillow
psutil
firebase-admin
yt-dlp[default]
pykakasi